.footer_container{
    grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
    margin: auto;
}
.footer_box{
    margin-bottom: var(--mb-2);

}
.footer_title{
    font-size: var(--bigger-font-size);
}
.footer_link{
    display: block;
    width: max-content;
    margin-bottom: var(--mb-1);
}
.footer_social{
    font-size: 1.5rem;
    margin-right: var(--mb-1-5);
}
.footer_copy{
    padding-top: 2rem;
    font-size: var(--smaller-font-size);
    color: var(--dark-color-light);
    text-align: center;

}
